<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="DecimaDigital_AjaxSimpleUi::magento_ajax_simple_ui_app" title="Ajax Simple Ui App" module="DecimaDigital_AjaxSimpleUi" sortOrder="30" translate="title" action="dd_ajax/manage" parent="DecimaDigital_SimpleUi::magento_ui_app" resource="DecimaDigital_AjaxSimpleUi::magento_ajax_simple_ui_app"/>
    </menu>
</config>
